<mat-card class="m-2 m-md-4">
  <mat-card-header>
    <img
      matCardAvatar
      [src]="
        job.postedBy.imageURL || '../../../../assets/images/jobs/company.png'
      "
      alt="KiddoHire"
    />
    <mat-card-title>{{ job.designation | titlecase }}</mat-card-title>
    <mat-card-subtitle
      >at
      <span class="text-dark"
        >{{ job.postedBy.username | titlecase }}
      </span></mat-card-subtitle
    >
    <mat-card-subtitle class="d-flex flex-wrap">
      <li class="mb-1 ml-1 mr-1 pl-1 pr-1">
        {{ job.postedBy.employees }} employees
      </li>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip color="primary" *ngFor="let skill of job.skills" selected>{{
          skill | titlecase
        }}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content
    class="row justify-content-between pt-0 pb-3 pl-2 pr-2 m-0 d-flex"
  >
    <div class="col-12 col-sm-8 job__description p-1 p-sm-2 m-sm-2 border">
      {{ job.description | titlecase }}
    </div>
    <div
      class="col-sm-3 job_poster d-none d-sm-flex flex-column justify-content-center align-items-stretch"
    >
      <img
        mat-card-md-image
        class="m-auto mb-2"
        src="./../../../../assets/images/jobs/user.png"
        alt="KiddoHire"
      />
      <button
        class="mb-2"
        mat-raised-button
        color="accent"
        [routerLink]="['/', 'profile', job.postedBy.profileName]"
      >
        About Company
      </button>
      <button
        class="mb-2"
        mat-raised-button
        color="primary"
        (click)="applyJob(job._id)"
        *ngIf="!appliedJob"
      >
        Apply
      </button>

      <button
        class="mb-2"
        mat-raised-button
        color="primary"
        (click)="generateReport(job._id)"
        *ngIf="appliedJob"
      >
        Compare
      </button>
    </div>
  </mat-card-content>
  <div class="row p-2 ml-1 m-sm-3">
    <div class="col-* mr-3">
      <span class="text-muted">Location : </span>{{ job.location | titlecase }}
    </div>
    <div class="col-* mr-3">
      <span class="text-muted">Experience : </span
      >{{ job.minimumExperience + " - " + job.maximumExperience }} years
    </div>
    <div class="col-* mr-3">
      <span class="text-muted">Salary : </span
      >{{ job.minimumSalary + " - " + job.maximumSalary }} LPA
    </div>

    <div class="col-* mr-3">
      <span class="text-muted">Applicants : </span> {{ job.applicants.length }}
    </div>
  </div>
  <div class="row pl-4 mt-2 mb-2" *ngIf="appliedJob && !selected">
    <mat-chip
      class="m-1"
      [ngClass]="{
        'bg-success': state.cleared,
        'bg-danger strike': !state.cleared
      }"
      *ngFor="let state of status"
      selected
    >
      <span *ngIf="state.round === '0'">Preliminary Round</span>
      <span *ngIf="state.round === '1'">First Round</span>
      <span *ngIf="state.round === '2'">Second Round</span>
      <span *ngIf="state.round === '3'">Third Round</span>
      <span *ngIf="state.round === '4'">Fourth Round</span>
      <span *ngIf="state.round === '5'">Fifth Round</span>
      <span *ngIf="state.round === '6'">Sixth Round</span>
    </mat-chip>
    <mat-chip
      class="bg-warning m-1"
      selected
      *ngIf="status.length && status[status.length - 1].cleared && currentRound"
      >{{ currentRound | date }}</mat-chip
    >
  </div>
  <div class="row mt-2 mb-2 justify-content-center">
    <div class="col-*" *ngIf="appliedJob && selected">
      <button mat-raised-button class="bg-success text-light">
        ACCEPT OFFER
      </button>
    </div>
  </div>
  <mat-card-actions
    class="p-0 d-flex justify-content-between justify-content-md-center d-sm-none"
  >
    <button
      class="ml-3"
      mat-raised-button
      color="accent"
      [routerLink]="['/', 'profile', job.postedBy.profileName]"
    >
      About Company
    </button>
    <button
      class="mr-3"
      mat-raised-button
      color="primary"
      (click)="applyJob(job._id)"
      *ngIf="!appliedJob"
    >
      Apply for this job
    </button>
    <button
      class="mr-3"
      mat-raised-button
      color="primary"
      *ngIf="appliedJob"
      (click)="generateReport(job._id)"
    >
      Comparison report
    </button>
  </mat-card-actions>
</mat-card>
