.toolbar {
  width: 100%;
  height: 100px;
  max-width: 100vw;
  background-color: white;
}


.toolbar__logo {
  max-width: 300px;
}

.toolbar__profile-pic {
  color: white;
  box-shadow: none !important;
}

button.active {
  color: #f33591 !important;
}


.bottom-nav {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 50;
}
