<mat-toolbar (window:resize)="resized()" class="p-0">
  <mat-toolbar-row
    class="toolbar justify-content-center justify-content-md-between border-bottom p-0"
  >
    <img
      class="toolbar__logo"
      src="./../../../assets/images/auth/transparent-bg.png"
      alt="KiddoHire"
    />
    <div class="nav d-flex flex-nowrap align-items-center" *ngIf="!isMobile">
      <button
        [routerLink]="['/', 'home']"
        routerLinkActive="active"
        mat-flat-button
        class="text-primary m-1 p-1"
      >
        <mat-icon>home</mat-icon>
        <span class="p-3">Home</span>
      </button>
      <button
        [routerLink]="['/', 'jobs']"
        routerLinkActive="active"
        mat-flat-button
        class="text-primary m-1 p-1"
      >
        <mat-icon>work</mat-icon>
        <span class="p-3">Jobs</span>
      </button>
      <button
        [routerLink]="['/', 'follows']"
        routerLinkActive="active"
        mat-flat-button
        class="text-primary m-1 p-1"
      >
        <mat-icon>rss_feed</mat-icon>
        <span class="p-3">Follows</span>
      </button>
      <button
        [routerLink]="['/', 'profile']"
        routerLinkActive="active"
        mat-flat-button
        class="text-primary m-1 p-1"
      >
        <mat-icon>person</mat-icon>
        <span class="p-3">Profile</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="bottom-nav p-0" *ngIf="isMobile">
  <mat-toolbar-row
    class="border-top justify-content-around align-items-center p-0"
  >
    <button
      [routerLink]="['/', 'home']"
      routerLinkActive="active"
      mat-flat-button
      class="text-primary m-2 p-0"
    >
      <mat-icon>home</mat-icon>
      <span class="p-2 d-none d-sm-inline-block">Home</span>
    </button>
    <button
      [routerLink]="['/', 'jobs']"
      routerLinkActive="active"
      mat-flat-button
      class="text-primary m-2 p-0"
    >
      <mat-icon>work</mat-icon>
      <span class="p-2 d-none d-sm-inline-block">Jobs</span>
    </button>
    <button
      [routerLink]="['/', 'follows']"
      routerLinkActive="active"
      mat-flat-button
      class="text-primary m-2 p-0"
    >
      <mat-icon>rss_feed</mat-icon>
      <span class="p-2 d-none d-sm-inline-block">Follows</span>
    </button>
    <button
      [routerLink]="['/', 'profile']"
      routerLinkActive="active"
      mat-flat-button
      class="text-primary m-2 p-0"
    >
      <mat-icon>person</mat-icon>
      <span class="p-2 d-none d-sm-inline-block">Profile</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
