<main
  (window:resize)="resized()"
  [ngStyle]="{ position: isMobile ? 'statics' : 'fixed' }"
>
  <section class="row header col-12 m-0 p-0 d-block">
    <app-header></app-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </section>
  <section
    *ngIf="!isLoading && user.role === 'developer'"
    class="row body p-3 m-0 mb-5 mb-md-2"
  >
    <button
      *ngIf="user.profileName === username && user.completion >= 60"
      class="edit"
      mat-mini-fab
      (click)="editMode = !editMode"
      color="primary"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div
      class="col-12 ng-warning content-section col-md-7 col-lg-8 mb-5 p-md-4 border"
    >
      <div
        class="row d-md-none mt-4 mb-4 justify-content-center align-items-center"
        *ngIf="!editMode"
      >
        <img
          class="col-* profile"
          [src]="user.imageURL || './../../../assets/images/auth/user.png'"
          [alt]="user.username || user.profileName"
        />
      </div>

      <div
        class="row d-md-none mt-4 mb-4 justify-content-center align-items-center"
        *ngIf="editMode"
      >
        <img
          class="col-* profile"
          [src]="user.imageURL || './../../../assets/images/auth/user-add.ico'"
          [alt]="user.username || user.profileName"
          (click)="dpPicker.click()"
        />
      </div>
      <div class="row d-md-none justify-content-center">
        <p *ngIf="!editMode" class="col-12 big-font min-width text-center">
          {{ user.username }}
        </p>
        <mat-form-field
          *ngIf="editMode"
          class="col-* m-n1 min-width small-font"
        >
          <input
            matInput
            placeholder="Username"
            type="text"
            [(ngModel)]="user.username"
            name="username"
            (blur)="saveDetails($event)"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted">Description :</p>
        </div>
        <div class="col-12" *ngIf="!editMode">
          <p class="content small-font">
            {{ user.description }}
          </p>
        </div>
        <mat-form-field class="col-12 full-width mb-2" *ngIf="editMode">
          <mat-label>Describe about you...</mat-label>
          <textarea
            matInput
            class="small-font"
            [(ngModel)]="user.description"
            name="description"
            (blur)="saveDetails($event)"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="editMode || user.skills?.length">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">
            Skills :
            <button
              mat-icon-button
              class="text-primary"
              (click)="addSkills()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip
              color="primary"
              selected
              (ngModelChange)="saveDetails($event)"
              *ngFor="let skill of user.skills"
              >{{ skill }}</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>

      <div class="row pl-3">
        <div class="col-*">
          <table>
            <tr>
              <td class="text-muted mb-0">Experience</td>
              <td *ngIf="!editMode" class="small-font pad">
                {{ user.experience }} years
              </td>
              <td *ngIf="editMode" class="small-font">
                <mat-form-field>
                  <input
                    type="number"
                    placeholder="Work experience in years"
                    matInput
                    name="experience"
                    (blur)="saveDetails($event)"
                    [(ngModel)]="user.experience"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Can join</td>
              <td *ngIf="!editMode" class="small-font pad">
                In {{ user.canJoin }} months
              </td>
              <td *ngIf="editMode" class="small-font">
                <mat-form-field>
                  <input
                    type="number"
                    (blur)="saveDetails($event)"
                    matInput
                    placeholder="Time required to join in months"
                    name="canJoin"
                    [(ngModel)]="user.canJoin"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Work</td>
              <td *ngIf="!editMode" class="small-font pad">
                {{ user.work }}
              </td>
              <td *ngIf="editMode" class="small-font">
                <mat-form-field>
                  <input
                    type="text"
                    (blur)="saveDetails($event)"
                    matInput
                    name="work"
                    [(ngModel)]="user.work"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Education</td>
              <td *ngIf="!editMode" class="small-font pad">
                {{ user.education }}
              </td>
              <td *ngIf="editMode" class="small-font">
                <mat-form-field>
                  <input
                    type="text"
                    class="p-0"
                    matInput
                    name="education"
                    [(ngModel)]="user.education"
                    (blur)="saveDetails($event)"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Resume</td>
              <td *ngIf="!editMode" class="small-font pad">
                <a href="{{ user.resume }}" target="_blank"
                  >{{ user.username | titlecase }}_Resume
                  <mat-icon class="launch">launch</mat-icon></a
                >
              </td>
              <td *ngIf="editMode" class="small-font">
                <div class="row justify-content-center align-items-center">
                  <div class="col-*">
                    <input
                      type="file"
                      class="d-none bg-dark"
                      #filePicker
                      (change)="onResumePicked($event)"
                    />
                    <button
                      mat-flat-button
                      color="accent"
                      type="button"
                      class="col-*"
                      (click)="filePicker.click()"
                    >
                      Upload Resume
                    </button>
                  </div>
                  <p class="col-* text-muted m-2">
                    {{ resume?.name }}
                  </p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div
        class="row mt-3 mb-2 pl-3 align-items-center border-top"
        *ngIf="editMode || user.certifications?.length"
      >
        <div class="col-* content-heading mt-3">
          <p class="text-muted">
            Certifications
            <button
              mat-icon-button
              class="text-primary pl-3"
              (click)="addCertificate()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
      </div>
      <div class="row justify-content-center align-items-stretch border-bottom">
        <div
          class="col-* m-2"
          (ngModelChange)="saveDetails($event)"
          *ngFor="let certificate of user.certifications"
        >
          <a
            [href]="certificate.certificate"
            target="_blank"
            rel="noopener noreferrer"
          >
            <mat-card class="document">
              <img
                mat-card-image
                [src]="certificate.certificate"
                [alt]="certificate.title"
              />
              <mat-card-content>
                <p>
                  {{ certificate.title }}
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
      <div
        class="row mt-3 pl-3 align-items-center"
        *ngIf="editMode || user.projects?.length"
      >
        <div class="col-* content-heading">
          <p class="text-muted mb-0">
            Projects
            <button
              mat-icon-button
              class="ml-3 text-primary"
              (click)="addProjects()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
      </div>
      <div class="row border-bottom" *ngIf="editMode || user.projects?.length">
        <div class="col-* m-2">
          <mat-list role="list" class="pt-0">
            <mat-list-item
              role="listitem"
              (ngModelChange)="saveDetails($event)"
              *ngFor="let project of user.projects"
              >{{ project.title }}
              <a href="{{ project.link }}" target="_blank">
                <mat-icon class="launch text-dark">launch</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="row mt-2" *ngIf="editMode || user.languages?.length">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">
            Languages
            <button
              mat-icon-button
              class="ml-3 text-primary"
              (click)="addLanguages()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip
              color="primary"
              selected
              (ngModelChange)="saveDetails($event)"
              *ngFor="let language of user.languages"
              >{{ language }}</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>

      <div class="row mt-3 pl-3 align-items-center">
        <div class="col-12 pl-0 text-muted content-heading">
          Reviews
          <button
            mat-icon-button
            class="ml-3 text-primary"
            (click)="addReview()"
            *ngIf="user.profileName !== username"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <div class="col-12 row" *ngIf="editMode || user.reviews?.length">
          <mat-card class="col-12 m-2" *ngFor="let review of user.reviews">
            <div class="row justify-content-center">
              <q class="col-*">{{ review.review }}</q>
            </div>
            <div class="row justify-content-end">
              <cite class="col-* mr-3 text-muted">~{{ review.author }}</cite>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <input
      type="file"
      class="d-none bg-dark"
      #dpPicker
      (change)="onDPPicked($event)"
    />
    <div class="d-none profile-section d-md-block col-md-5 col-lg-4">
      <div
        class="row p-5 profile-info flex-column justify-content-center align-items-center"
      >
        <div class="col-*" *ngIf="!editMode">
          <img
            class="profile"
            [src]="user.imageURL || './../../../assets/images/auth/user.png'"
            [alt]="user.username || user.profileName"
          />
        </div>
        <div class="col-*" *ngIf="editMode">
          <img
            class="profile"
            [src]="
              user.imageURL || './../../../assets/images/auth/user-add.ico'
            "
            [alt]="user.username || user.profileName"
            (click)="dpPicker.click()"
          />
        </div>
        <div class="col-* mt-3">
          <p *ngIf="!editMode" class="mb-0 big-font">
            {{ user.username }}
          </p>
          <mat-form-field *ngIf="editMode" class="col-* m-0 p-0 small-font">
            <input
              matInput
              type="text"
              placeholder="Username"
              [(ngModel)]="user.username"
              (click)="dpPicker.click()"
            />
          </mat-form-field>
        </div>

        <!-- <div class="col-*">
          <p class="mb-0">CodaGlobal</p>
        </div> -->
      </div>
    </div>
  </section>

  <section
    *ngIf="!isLoading && user.role === 'hr'"
    class="row body p-3 m-0 mb-5 mb-md-2"
  >
    <button
      *ngIf="user.profileName === username && user.completion >= 60"
      class="edit"
      mat-mini-fab
      (click)="editMode = !editMode"
      color="primary"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div
      class="col-12 ng-warning content-section col-md-7 col-lg-8 mb-5 p-md-4 border"
    >
      <div
        class="row d-md-none mt-4 mb-4 justify-content-center align-items-center"
        *ngIf="!editMode"
      >
        <img
          class="col-* profile"
          [src]="user.imageURL || './../../../assets/images/jobs/company.png'"
          [alt]="user.username || user.profileName"
        />
      </div>

      <div
        class="row d-md-none mt-4 mb-4 justify-content-center align-items-center"
        *ngIf="editMode"
      >
        <img
          class="col-* profile"
          [src]="user.imageURL || './../../../assets/images/jobs/company.png'"
          [alt]="user.username || user.profileName"
          (click)="dpPicker.click()"
        />
      </div>
      <div class="row d-md-none justify-content-center">
        <p *ngIf="!editMode" class="col-12 big-font min-width text-center">
          {{ user.username }}
        </p>
        <mat-form-field
          *ngIf="editMode"
          class="col-* m-n1 min-width small-font"
        >
          <input
            matInput
            placeholder="Organization Name"
            type="text"
            [(ngModel)]="user.username"
            name="username"
            (blur)="saveDetails($event)"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted">Description :</p>
        </div>
        <div class="col-12" *ngIf="!editMode">
          <p class="content small-font">
            {{ user.description }}
          </p>
        </div>
        <mat-form-field class="col-12 full-width mb-2" *ngIf="editMode">
          <mat-label>Describe about your organization...</mat-label>
          <textarea
            matInput
            class="small-font"
            [(ngModel)]="user.description"
            name="description"
            (blur)="saveDetails($event)"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted">Career growth :</p>
        </div>
        <div class="col-12" *ngIf="!editMode">
          <p class="content small-font">
            {{ user.careerGrowth }}
          </p>
        </div>
        <mat-form-field class="col-12 full-width mb-2" *ngIf="editMode">
          <mat-label>Career growth your organization...</mat-label>
          <textarea
            matInput
            class="small-font"
            [(ngModel)]="user.careerGrowth"
            name="careerGrowth"
            (blur)="saveDetails($event)"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="editMode || user.skills?.length">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">
            Technologies used :
            <button
              mat-icon-button
              class="text-primary"
              (click)="addSkills()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip
              color="primary"
              selected
              (ngModelChange)="saveDetails($event)"
              *ngFor="let skill of user.skills"
              >{{ skill }}</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>

      <div class="row pl-3">
        <div class="col-*">
          <table>
            <tr>
              <td class="text-muted mb-0">Company size</td>
              <td *ngIf="!editMode" class="small-font pad">
                {{ user.employees }} employees
              </td>
              <td *ngIf="editMode" class="small-font">
                <mat-form-field>
                  <input
                    type="number"
                    matInput
                    placeholder="No. of employees"
                    name="employees"
                    (blur)="saveDetails($event)"
                    [(ngModel)]="user.employees"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div
        class="row mt-3 mb-2 pl-3 align-items-center border-top"
        *ngIf="editMode || user.certifications?.length"
      >
        <div class="col-* content-heading mt-3">
          <p class="text-muted">
            Certifications
            <button
              mat-icon-button
              class="text-primary pl-3"
              (click)="addCertificate()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
      </div>
      <div class="row justify-content-center align-items-stretch border-bottom">
        <div
          class="col-* m-2"
          (ngModelChange)="saveDetails($event)"
          *ngFor="let certificate of user.certifications"
        >
          <a
            [href]="certificate.certificate"
            target="_blank"
            rel="noopener noreferrer"
          >
            <mat-card class="document">
              <img
                mat-card-image
                [src]="certificate.certificate"
                [alt]="certificate.title"
              />
              <mat-card-content>
                <p>
                  {{ certificate.title }}
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
      <div
        class="row mt-3 pl-3 align-items-center"
        *ngIf="editMode || user.projects?.length"
      >
        <div class="col-* content-heading">
          <p class="text-muted mb-0">
            Projects involved
            <button
              mat-icon-button
              class="ml-3 text-primary"
              (click)="addProjects()"
              *ngIf="editMode"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
      </div>
      <div class="row border-bottom" *ngIf="editMode || user.projects?.length">
        <div class="col-* m-2">
          <mat-list role="list" class="pt-0">
            <mat-list-item
              role="listitem"
              (ngModelChange)="saveDetails($event)"
              *ngFor="let project of user.projects"
              >{{ project.title }}
              <a href="{{ project.link }}" target="_blank">
                <mat-icon class="launch text-dark">launch</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div class="row mt-3 pl-3 align-items-center">
        <div class="col-12 pl-0 text-muted content-heading">
          Reviews
          <button
            mat-icon-button
            class="ml-3 text-primary"
            (click)="addReview()"
            *ngIf="user.profileName !== username"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <div class="col-12 row" *ngIf="editMode || user.reviews?.length">
          <mat-card class="col-12 m-2" *ngFor="let review of user.reviews">
            <div class="row justify-content-center">
              <q class="col-*">{{ review.review }}</q>
            </div>
            <div class="row justify-content-end">
              <cite class="col-* mr-3 text-muted">~{{ review.author }}</cite>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <input type="file" class="d-none" #dpPicker (change)="onDPPicked($event)" />
    <div class="d-none profile-section d-md-block col-md-5 col-lg-4">
      <div
        class="row p-5 profile-info flex-column justify-content-center align-items-center"
      >
        <div class="col-*" *ngIf="!editMode">
          <img
            class="profile"
            [src]="user.imageURL || './../../../assets/images/jobs/company.png'"
            [alt]="user.username || user.profileName"
          />
        </div>
        <div class="col-*" *ngIf="editMode">
          <img
            class="profile"
            [src]="user.imageURL || './../../../assets/images/jobs/company.png'"
            [alt]="user.username || user.profileName"
            (click)="dpPicker.click()"
          />
        </div>
        <div class="col-* mt-3">
          <p *ngIf="!editMode" class="mb-0 big-font">
            {{ user.username }}
          </p>
          <mat-form-field *ngIf="editMode" class="col-* m-0 p-0 small-font">
            <input
              matInput
              type="text"
              name="username"
              placeholder="Organization name"
              [(ngModel)]="user.username"
              (blur)="saveDetails($event)"
            />
          </mat-form-field>
        </div>

        <!-- <div class="col-*">
          <p class="mb-0">CodaGlobal</p>
        </div> -->
      </div>
    </div>
  </section>
</main>
