<main
  (window:resize)="resized()"
  [ngStyle]="{ position: isMobile ? 'statics' : 'fixed' }"
>
  <section class="row header col-12 m-0 p-0 d-block">
    <app-header></app-header>
  </section>
  <section class="row body p-3 m-0 mb-5 mb-md-2">
    <div class="col-12 content-section col-md-7 mb-5 p-md-4">
      <div
        class="row d-md-none mt-4 mb-4 justify-content-center align-items-center"
      >
        <img
          class="col-* profile"
          src="./../../../assets/Nishanth.jpg"
          alt=""
        />
        <span class="col-* m-3">Nishanth Shanmuganathan</span>
      </div>
      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted">Description :</p>
        </div>
        <div class="col-12">
          <p class="content">
            Description is the pattern of narrative development that aims to
            make vivid a place, object, character, or group. Description is one
            of four rhetorical modes, along with exposition, argumentation, and
            narration. In practice it would be difficult to write literature
            that drew on just one of the four basic modes.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">Skills :</p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="row pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted">Experience :</p>
        </div>
        <div class="col-* ml-2">
          <p class="content pt-1">12 years</p>
        </div>
      </div>
      <div class="row pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted">Can join :</p>
        </div>
        <div class="col-* ml-2">
          <p class="content pt-1">Within 2 weeks</p>
        </div>
      </div>
      <div class="row pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted">Work :</p>
        </div>
        <div class="col-* ml-2">
          <p class="content pt-1">Perilwise Insurtech</p>
        </div>
      </div>
      <div class="row pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted">Education :</p>
        </div>
        <div class="col-* ml-2">
          <p class="content pt-1">Kongu Eng college</p>
        </div>
      </div>
      <div class="row pl-3 align-items-center border-bottom">
        <div class="col-* content-heading">
          <p class="text-muted">Resume :</p>
        </div>
        <div class="col-* ml-2">
          <p class="content pt-1"><a href="" target="_blank">Nishanth</a></p>
        </div>
      </div>
      <div class="row mt-3 mb-2 pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted">Certifications</p>
        </div>
      </div>
      <div
        class="row justify-content-center align-items-stretch border-bottom pb-3"
      >
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>Front end javascript</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>Front end javascript</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row mt-3 pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted mb-0">Projects :</p>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-* m-2">
          <mat-list role="list" class="pt-0">
            <mat-list-item role="listitem"
              >Tasked <mat-icon class="launch">launch</mat-icon></mat-list-item
            >
            <mat-list-item role="listitem"
              >Stock Market<mat-icon class="launch"
                >launch</mat-icon
              ></mat-list-item
            >
            <mat-list-item role="listitem"
              >KiddoHire<mat-icon class="launch"
                >launch</mat-icon
              ></mat-list-item
            >
          </mat-list>
        </div>
      </div>
      <div class="row border-bottom mt-2">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">Languages :</p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
            <mat-chip color="primary" selected>Papadum</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="d-none profile-section d-md-block col-md-5">
      <div
        class="row p-5 profile-info flex-column justify-content-center align-items-center"
      >
        <div class="col-*">
          <img class="profile" src="./../../../assets/Nishanth.jpg" />
        </div>
        <div class="col-* mt-3">
          <p class="mb-0">Nishanth Shanmuganathan</p>
        </div>
        <div class="col-*">
          <p class="mb-0">CodaGlobal</p>
        </div>
      </div>
    </div>
  </section>
</main>
