main {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  position: fixed;
}

.header {
  width: 100%;
  height: 15vh;
}

.body {
  width: 100%;
  height: 80vh;
  position: relative;
}

.edit {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}

.content-section,
.profile-section,
.profile-info {
  width: 100%;
  height: 100%;
}

.content-section {
  overflow: scroll;
}

.content-section .profile {
  width: 120px;
  height: 120px;
}

.profile-section .profile {
  width: 160px;
  height: 160px;
}

.profile.edit:hover {
  cursor: pointer;
  filter: brightness(.3);
}


.content {
  font-size: 14px;
}

img.profile {
  border-radius: 125px;
  box-shadow: 2px 0px 4px silver;
}

/* .profile_pic_section {
  height: 100%;
} */

.document {
  max-width: 400px;
}

img[mat-card-image],
.document {
  max-width: 250px;
}

.document {
  height: 100%;
}

.launch,
.small-font {
  font-size: 14px;

}

.pad {
  padding: 15px 10px 15px 0px;
}

td {
  padding-right: 20px;

}

.full-width {
  width: fit-content;
}

.min-width {
  min-width: 150px;
}

.center {
  text-align: center;
}
