<main
  (window:resize)="resized()"
  [ngStyle]="{ position: isMobile ? 'statics' : 'fixed' }"
>
  <section class="row header col-12 m-0 p-0 d-block">
    <app-header></app-header>
  </section>
  <section class="row body p-3 m-0 mb-5 mb-md-2">
    <button
      class="edit"
      mat-mini-fab
      (click)="editMode = !editMode"
      color="primary"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div class="col-12 content-section col-md-7 mb-5 p-md-4 border">
      <div
        class="row d-md-none mt-4 mb-4 justify-content-center align-items-center"
      >
        <img
          class="col-* profile"
          src="./../../../assets/Nishanth.jpg"
          alt=""
        />
        <span *ngIf="!editMode" class="col-* m-3 small-font"
          >Nishanth Shanmuganathan</span
        >
        <mat-form-field *ngIf="editMode" class="m-3">
          <input
            *ngIf="editMode"
            class="col-* m-0 p-0 small-font"
            matInput
            type="text"
            [(ngModel)]="user.username"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted">Description :</p>
        </div>
        <div class="col-12" *ngIf="!editMode">
          <p class="content small-font">
            Description is the pattern of narrative development that aims to
            make vivid a place, object, character, or group. Description is one
            of four rhetorical modes, along with exposition, argumentation, and
            narration. In practice it would be difficult to write literature
            that drew on just one of the four basic modes.
          </p>
        </div>
        <div class="col-12 full-width mb-2" *ngIf="editMode">
          <textarea
            matInput
            class="small-font"
            [(ngModel)]="user.description"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">
            Skills :
            <button mat-icon-button class="text-primary" (click)="addSkills()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip
              color="primary"
              selected
              *ngFor="let skill of user.skills"
              >{{ skill }}</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>

      <div class="row pl-3">
        <div class="col-*">
          <table>
            <tr>
              <td class="text-muted mb-0">Experience</td>
              <td *ngIf="!editMode" class="small-font">
                {{ user.experience }} years
              </td>
              <td *ngIf="editMode" class="small-font">
                <input type="text" matInput [(ngModel)]="user.experience" />
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Can join</td>
              <td *ngIf="!editMode" class="small-font">
                In {{ user.canJoin }} months
              </td>
              <td *ngIf="editMode" class="small-font">
                <input type="text" matInput [(ngModel)]="user.canJoin" />
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Work</td>
              <td *ngIf="!editMode" class="small-font">{{ user.work }}</td>
              <td *ngIf="editMode" class="small-font">
                <input type="text" matInput [(ngModel)]="user.work" />
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Education</td>
              <td *ngIf="!editMode" class="small-font">{{ user.education }}</td>
              <td *ngIf="editMode" class="small-font">
                <input
                  type="text"
                  class="p-0"
                  matInput
                  [(ngModel)]="user.education"
                />
              </td>
            </tr>
            <tr>
              <td class="text-muted mb-0">Resume</td>
              <td *ngIf="!editMode" class="small-font">
                <a href="{{ user.resume }}" target="_blank"
                  >{{ user.username | titlecase }}_Resume</a
                >
              </td>
              <!-- <td *ngIf="editMode" class="small-font">
                <a href="{{ user.resume }}" target="_blank"
                  >{{ user.username | titlecase }}_Resume</a
                >
              </td> -->
            </tr>
          </table>
        </div>
      </div>

      <div class="row mt-3 mb-2 pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted">
            Certifications
            <button
              mat-icon-button
              class="text-primary ml-3"
              (click)="addCertificate()"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
      </div>
      <div
        class="row justify-content-center align-items-stretch border-bottom pb-3"
      >
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small-font, agile dog that
                copes very well with mountainous terrain, the Shiba Inu was
                originally bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>Front end javascript</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small-font, agile dog that
                copes very well with mountainous terrain, the Shiba Inu was
                originally bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-* m-2">
          <mat-card class="document">
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <mat-card-content>
              <p>Front end javascript</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row mt-3 pl-3 align-items-center">
        <div class="col-* content-heading">
          <p class="text-muted mb-0">
            Projects
            <button
              mat-icon-button
              class="ml-3 text-primary"
              (click)="addProjects()"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-* m-2">
          <mat-list role="list" class="pt-0">
            <mat-list-item role="listitem" *ngFor="let project of user.projects"
              >{{ project.title }}
              <a href="{{ project.link }}" target="_blank">
                <mat-icon class="launch text-dark">launch</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="row border-bottom mt-2">
        <div class="col-12 content-heading">
          <p class="text-muted mb-0">
            Languages
            <button
              mat-icon-button
              class="ml-3 text-primary"
              (click)="addLanguages()"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </p>
        </div>
        <div class="col-12">
          <mat-chip-list class="content m-2">
            <mat-chip
              color="primary"
              selected
              *ngFor="let language of user.languages"
              >{{ language }}</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="d-none profile-section d-md-block col-md-5">
      <div
        class="row p-5 profile-info flex-column justify-content-center align-items-center"
      >
        <div class="col-*">
          <img class="profile" src="./../../../assets/Nishanth.jpg" />
        </div>
        <div class="col-* mt-3">
          <p class="mb-0">Nishanth Shanmuganathan</p>
        </div>
        <div class="col-*">
          <p class="mb-0">CodaGlobal</p>
        </div>
      </div>
    </div>
  </section>
</main>
