<section class="row m-0">
  <app-search class="col-12"></app-search>
</section>
<div class="row justify-content-center">
  <div class="col-*">
    <app-employer-job-card></app-employer-job-card>
  </div>
  <!-- <div class="col-*">
    <app-employee-job-card></app-employee-job-card>
  </div>
  <div class="col-*">
    <app-employee-job-card></app-employee-job-card>
  </div>
  <div class="col-*">
    <app-employee-job-card></app-employee-job-card>
  </div>
  <div class="col-*">
    <app-employee-job-card></app-employee-job-card>
  </div> -->
</div>
<!-- <app-employer-job-card></app-employer-job-card> -->
