<main class="content">
  <section class="row m-0">
    <app-search
      class="col-12"
      [user]="user"
      (isLoading)="getIsLoading($event)"
      (appliedJob)="getJobType($event)"
    ></app-search>
  </section>
  <section
    *ngIf="isLoading"
    class="row justify-content-center align-items-center"
  >
    <div class="col-* m-3 m--md-5">
      <mat-spinner></mat-spinner>
    </div>
  </section>
  <div
    class="row justify-content-center"
    *ngIf="!isLoading && user && user.role === 'hr'"
  >
    <div class="col-*" *ngFor="let job of jobs">
      <app-employer-job-card [job]="job"></app-employer-job-card>
    </div>
  </div>
  <div
    class="row justify-content-center"
    *ngIf="!isLoading && user && user.role === 'developer'"
  >
    <div class="col-*" *ngFor="let job of jobs">
      <app-employee-job-card
        [job]="job"
        [appliedJob]="appliedJob"
        [profileName]="user.profileName"
      ></app-employee-job-card>
    </div>
  </div>
  <div
    class="row justify-content-center mt-5"
    *ngIf="!isLoading && !error && user && !jobs.length"
  >
    <div class="col-* text-muted pt-5">No jobs found...</div>
  </div>
</main>
