<mat-toolbar class="p-2 border-bottom">
  <mat-toolbar-row class="p-2 justify-content-center">
    <mat-form-field class="search pl-4 pr-4">
      <mat-label>Search</mat-label>
      <input
        type="text"
        matInput
        placeholder="Search by job title..."
        [(ngModel)]="search"
        (ngModelChange)="fetchCities()"
      />
    </mat-form-field>
    <button
      class="d-none d-sm-block"
      mat-raised-button
      color="primary"
      (click)="toggleFilters = !toggleFilters"
    >
      {{ toggleFilters ? "Hide" : "Show" }} Filters
    </button>
    <button
      class="d-sm-none"
      mat-mini-fab
      color="primary"
      (click)="toggleFilters = !toggleFilters"
    >
      <mat-icon>{{ toggleFilters ? "blur_off" : "filter_alt" }}</mat-icon>
    </button>

    <button
      class="d-none m-2 d-sm-block"
      mat-raised-button
      color="primary"
      *ngIf="user.role === 'hr'"
    >
      Post a new job
    </button>
    <button
      class="d-none m-2 d-sm-block"
      mat-raised-button
      color="primary"
      *ngIf="user.role === 'developer' && allJobs"
      (click)="appliedJobs()"
    >
      Applied Jobs
    </button>
    <button
      class="d-none m-2 d-sm-block"
      mat-raised-button
      color="primary"
      *ngIf="user.role === 'developer' && !allJobs"
      (click)="fetchJobs()"
    >
      All Jobs
    </button>

    <button
      class="d-sm-none m-2"
      mat-mini-fab
      color="primary"
      [matTooltip]="'View status of applied jobs'"
      *ngIf="user.role === 'developer' && allJobs"
      (click)="appliedJobs()"
    >
      <mat-icon>pending_actions</mat-icon>
    </button>

    <button
      class="d-sm-none m-2"
      mat-mini-fab
      color="primary"
      [matTooltip]="'All jobs'"
      *ngIf="user.role === 'developer' && !allJobs"
      (click)="fetchJobs()"
    >
      <mat-icon>work</mat-icon>
    </button>
    <button
      class="d-sm-none m-2"
      mat-mini-fab
      color="primary"
      [matTooltip]="'Add a new job post'"
      *ngIf="user.role === 'hr'"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row
    *ngIf="toggleFilters"
    class="row filters_row p-0 m-0 m-auto justify-content-around flex-wrap"
  >
    <div
      class="col-* m-2 custom-slider d-flex flex-column justify-content-center align-items-center"
    >
      <span>Experience Range</span>
      <ng5-slider
        [(value)]="minExp"
        [(highValue)]="maxExp"
        [options]="expOptions"
      ></ng5-slider>
    </div>
    <div
      class="col-* m-2 custom-slider d-flex flex-column justify-content-center align-items-center"
    >
      <span>Expected CTC Range</span>
      <ng5-slider
        [(value)]="minCTC"
        [(highValue)]="maxCTC"
        [options]="ctcOptions"
      ></ng5-slider>
    </div>

    <div
      class="col-* m-2 custom-slider d-flex flex-column justify-content-center align-items-center"
    >
      <span>Company Review</span>
      <ng5-slider
        [(value)]="minStar"
        [(highValue)]="maxStar"
        [options]="starOptions"
      ></ng5-slider>
    </div>
    <div class="col-* m-2">
      <mat-form-field>
        <input
          type="text"
          placeholder="City"
          matInput
          [matAutocomplete]="city"
          [(ngModel)]="cityString"
          (input)="fetchCities()"
        />
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngFor="let option of cities" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
