<mat-toolbar class="p-2 border-bottom">
  <mat-toolbar-row class="p-2 justify-content-center">
    <mat-form-field class="search pl-4 pr-4">
      <mat-label>Search</mat-label>
      <input
        type="text"
        matInput
        placeholder="Search by job title..."
        [(ngModel)]="search"
        (keyup)="onSearch()"
      />
    </mat-form-field>

    <button
      class="d-none m-2 d-sm-block"
      mat-raised-button
      color="primary"
      *ngIf="user.role === 'hr'"
      (click)="openAddJob()"
    >
      Post a new job
    </button>
    <button
      class="d-none m-2 d-sm-block"
      mat-raised-button
      color="primary"
      *ngIf="user.role === 'developer' && allJobs"
      (click)="appliedJobs()"
    >
      Applied Jobs
    </button>
    <button
      class="d-none m-2 d-sm-block"
      mat-raised-button
      color="primary"
      *ngIf="user.role === 'developer' && !allJobs"
      (click)="fetchJobs()"
    >
      All Jobs
    </button>

    <button
      class="d-sm-none m-2"
      mat-mini-fab
      color="primary"
      [matTooltip]="'View status of applied jobs'"
      *ngIf="user.role === 'developer' && allJobs"
      (click)="appliedJobs()"
    >
      <mat-icon>pending_actions</mat-icon>
    </button>

    <button
      class="d-sm-none m-2"
      mat-mini-fab
      color="primary"
      [matTooltip]="'All jobs'"
      *ngIf="user.role === 'developer' && !allJobs"
      (click)="fetchJobs()"
    >
      <mat-icon>work</mat-icon>
    </button>
    <button
      class="d-sm-none m-2"
      mat-mini-fab
      color="primary"
      [matTooltip]="'Add a new job post'"
      *ngIf="user.role === 'hr'"
      (click)="openAddJob()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
