:host {
  padding: 0px;
}

mat-toolbar-row,
mat-toolbar {
  height: fit-content;
  background-color: transparent;
  position: relative;
}

.job_page {
  position: absolute;
  right: 0px;
}

div[mat-menu-content] {
  height: 200px;
}

mat-form-field {
  font-size: 16px;
}

.filters_row {
  max-width: 1000px;
}

.search {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
}

ng5-slider {
  max-width: 200px;
}

span {
  font-size: 14px;
}


::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  background: #ffe4d1;
  height: 2px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  height: 3px;
  background: #F33591;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #07389b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: #F33591;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #F33591;
}
