<mat-card class="mt-2 mb-2 mt-md-4 mb-md-4">
  <mat-card-header>
    <img
      matCardAvatar
      [src]="
        job.postedBy.imageURL || '../../../../assets/images/jobs/company.png'
      "
      alt="KiddoHire"
    />
    <mat-card-title>{{ job.designation | titlecase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="p-2 p-sm-3 p-md-4 m-0 d-flex">
    <mat-accordion>
      <mat-expansion-panel class="panel__content">
        <mat-expansion-panel-header>Job Details </mat-expansion-panel-header>
        <mat-chip-list class="m-2">
          <mat-chip color="primary" selected *ngFor="let skill of job.skills">{{
            skill | titlecase
          }}</mat-chip>
        </mat-chip-list>
        <button
          [disabled]="disabled"
          mat-mini-fab
          class="edit"
          (click)="edit()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <div class="job__description p-1 p-sm-2 m-sm-2 border">
          {{ job.description | titlecase }}
        </div>
        <div class="row p-2 ml-1 m-sm-3">
          <div class="col-* mr-3">
            <span class="text-muted">Location : </span
            >{{ job.location | titlecase }}
          </div>
          <div class="col-* mr-3">
            <span class="text-muted">Experience Range : </span
            >{{ job.minimumExperience + " - " + job.maximumExperience }} years
          </div>
          <div class="col-* mr-3">
            <span class="text-muted">Salary Range : </span
            >{{ job.minimumSalary + " - " + job.maximumSalary }} LPA
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header
          >Application Details</mat-expansion-panel-header
        >
        <mat-form-field [ngClass]="{ 'd-none': !applicants.length }">
          <mat-label>Search applicant</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Any applicant credentials..."
          />
        </mat-form-field>

        <div class="table_cover" [ngClass]="{ 'd-none': !applicants.length }">
          <mat-table [dataSource]="dataSource" matSort>
            <!-- Sl. No Column -->
            <ng-container matColumnDef="sl">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl. No.</th>
              <td mat-cell *matCellDef="let row">{{ row.sl }}</td>
            </ng-container>

            <!-- Match Column -->
            <ng-container matColumnDef="match">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Relevancy
              </th>
              <td class="text-center" mat-cell *matCellDef="let row">
                {{ row.match }}%
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="profile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
              <td mat-cell *matCellDef="let row" [class]="row.profile">
                <button
                  mat-raised-button
                  color="accent"
                  [routerLink]="['/', 'profile', row.profile]"
                >
                  PROFILE
                </button>
              </td>
            </ng-container>

            <!-- Resume Column -->
            <ng-container matColumnDef="resume">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Resume</th>
              <td mat-cell *matCellDef="let row">
                <a href="{{ row.resume }}" target="_blank">
                  <button mat-raised-button color="primary">RESUME</button>
                </a>
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="accept">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row">
                <button
                  [disabled]="disabled"
                  mat-flat-button
                  class="text-light bg-success"
                  (click)="shortlist(row.job, row.user)"
                >
                  SHORTLIST
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="reject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row">
                <button
                  [disabled]="disabled"
                  mat-flat-button
                  color="warn"
                  (click)="reject(row.job, row.user)"
                >
                  REJECT
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </mat-table>
        </div>
        <div
          class="row justify-content-end"
          [ngClass]="{ 'd-none': !applicants.length }"
        >
          <div class="col-*">
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <div class="row p-5 justify-content-center" *ngIf="!applicants.length">
          <div class="col-*">
            Be patient... There are no applicants right now
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
