.container,
mat-form-field {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  font-size: 14px;
}

.row {
  width: 90%;
}

.btn_row {
  max-width: 600px;
}

.input,
ng5-slider {
  max-width: 300px;
}

mat-form-field input {
  max-width: 500px;
  min-width: 250px;
}

mat-icon {
  cursor: pointer;
}

.border-round {
  font-size: 24px;
  border-radius: 100px;
  color: #1A237E
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  background: #ffe4d1;
  height: 2px;
}


::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #1A237E;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}


::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: #F33591;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #F33591;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  height: 3px;
  background: #F33591;
}
