<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
  <table cellpadding="10px">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput formControlName="email" type="text" />
          <button type="button" mat-icon-button matSuffix disabled>
            <mat-icon>mail</mat-icon>
          </button>
          <mat-error>Invalid email-id...</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="password ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="password = !password"
          >
            <mat-icon>visibility_off</mat-icon>
          </button>
          <mat-hint>Password should atleast be 8 characters</mat-hint>
          <mat-error>Invalid password...</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="button login">
        <button mat-raised-button class="bg-primary">Sign In</button>
      </td>
    </tr>
    <tr>
      <td class="button">
        <button mat-raised-button class="bg-accent" [routerLink]="['signup']">
          Sign Up
        </button>
      </td>
    </tr>
  </table>
</form>
