/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'Bree Serif',
    serif;
  box-sizing: border-box;
}

.bg-primary {
  background-color: #07389b !important;
  color: white;
}

.bg-accent {
  background-color: #f33591;
  color: white;
}

.bg-light {
  background-color: white !important;
  color: black !important;
}

.text-primary {
  color: #07389b !important;
}

*::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

*::-webkit-scrollbar-track {
  width: 5px !important;
  height: 5px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb {
  width: 5px !important;
  height: 5px !important;
  border-radius: 100px !important;
  background-color: rgba(192, 192, 192, 0.5) !important;
}

.center {
  transform: translate(-50%, -50%);
}
