/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'Bree Serif',
    serif;
  box-sizing: border-box;
}

.bg-primary {
  background-color: #07389b !important;
  color: white;
}

.bg-accent {
  background-color: #f33591;
  color: white;
}

.text-primary {
  color: #07389b !important;
}
