section {
  width: 100%;
  position: relative;
}

.retry {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

main {
  background-image: radial-gradient(rgba(7, 56, 155, 0), rgba(7, 57, 156, 0.2));
  height: fit-content;
  min-height: 100%;
}
