:host {
  display: block;
  width: 100%;
}

mat-card-content {
  text-align: justify;
}

mat-card {
  max-width: 1000px;
  box-shadow: 0px 0px 10px silver !important;
}

.trends {
  max-width: 1000px;

}

mat-card-title {
  font-size: 16px !important;
}

a {
  text-decoration: none;
  color: black;
}

.isLoading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.trends {
  font-size: 20px;
}
