<div class="isLoading" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div
  *ngIf="!isLoading && DataSets"
  class="d-flex flex-wrap justify-content-around align-items-start mt-0 pb-4 mb-4 border-bottom"
>
  <app-chart
    *ngFor="let dataset of DataSets"
    [lineChartData]="dataset.lineChartData"
    [lineChartLabels]="dataset.lineChartLabels"
    [title]="dataset.title"
  ></app-chart>
</div>
<div *ngIf="this.feeds.length" class="row trends m-md-auto">
  <!-- <div class="col-*">Today's trends for developers :</div> -->
  <div class="col-*">Today's trends for recruiters :</div>
</div>
<div *ngIf="this.feeds.length">
  <a
    class="m-2 mt-sm-3 mt-md-5"
    *ngFor="let feed of feeds"
    [href]="feed.link"
    target="_blank"
  >
    <mat-card class="m-md-auto">
      <mat-card-header>
        <mat-card-title class="">{{ feed.title | titlecase }}</mat-card-title>
        <mat-card-subtitle>
          Authored
          <span *ngIf="feed.author"> by : {{ feed.author | titlecase }} </span>
          <span *ngIf="feed.published_date">
            at {{ feed.published_date | date }}
          </span>
        </mat-card-subtitle>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="pl-2 pl-sm-3 pl-md-4">
        {{ feed.summary }}
      </mat-card-content>
    </mat-card>
  </a>
</div>

<div *ngIf="this.feeds.length" class="row justify-content-center mt-2">
  <div class="col-* d-flex flex-column align-items-center">
    <p class="mb-0">{{ isLoading ? "Loading" : "Load More" }}...</p>
    <button
      mat-mini-fab
      class="bg-light text-dark"
      (click)="loadFeeds()"
      [disabled]="isLoading"
    >
      <mat-icon>{{ isLoading ? "hourglass_bottom" : "replay" }}</mat-icon>
    </button>
  </div>
</div>
